# Ignore OS and IDE files
.DS_Store
__pycache__/
# macOS system files
.DS_Store

# Python cache
__pycache__/
*.pyc
*.pyo
*.log
*.swp

# Virtual environment
env/
../env/

# Sensitive or local-only files
.env
.env.*
*.env

